a{
   color: lightpink;

}

.footer {
  position: fixed;
  text-align: center;
  bottom: 0px;
  left: 0;
  width: 100%;
  font-size: 15px;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #c48fc2;
}
@media (max-width:768px){
.footer {
  display: flex;
  position: fixed;
  text-align: center;
  bottom: -15px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  font-size: 12px;
  background-color: #c48fc2;
}

}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
  padding-top: 60px;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


