.breadcrumb {
  margin-bottom: 0;
  width: 100%;
  background-color: #fc8ba6; 
}
.breadcrumb > li.active {
    color: black;
}
.breadcrumb > li.active > a{
    color: white;
}
.breadcrumb > li{
    color:white;
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
.respone{
    width: 75%;
    height:auto;

}
}
@media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2) { 
.respone{
    width: 75%;
    height:auto;
}
}

@media only screen 
    and (device-width : 414px) 
    and (device-height : 736px) 
    and (-webkit-device-pixel-ratio : 3) { 
.respone{
    width: 75%;
    height:auto;

}

}

